@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:italic@1&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #5B8BA5;
  --color-secondary: #51CB20;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
}






/* Custom Scrollbar for Dropdown */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #141414;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ffffff20;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #00ff88;
}




/* Custom Border Glow Effect */
.custom-bottom-border {
  position: relative;
}

.custom-bottom-border::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 30%;
  right: 30%;
  height: 1px;
  background: linear-gradient(
    90deg, 
    transparent 0%, 
    rgba(93, 187, 127, 0.411) 50%, 
    transparent 100%
  );
  /* box-shadow: 0px 0px 12px 1px rgba(96, 204, 136, 0.329); */
  z-index: 1;
}